/* reset css */
*,
html,
body,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-size: 14px;
    /* font-family: sans-serif; */
    color: #333333;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333333;
}
input, textarea {
    outline: none;
    border: none;
    resize: none;
    -webkit-appearance: none;
}

/* common css */
.f_left {
    float: left;
}
.f_right {
    float: right;
}
.clearfix::after {
    content: '';
    height: 0;
    width: 0;
    display: block;
    line-height: 0;
    clear: both;
}
.radius_box_top {
    border: 1px solid #289cf2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    background-color: #289cf2;
    display: flex;
    align-items: center;
    font-size: 1.3em;
}
.radius_box_bottom {
    border: 1px solid #289cf2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px 0 20px;
}